<!DOCTYPE html>
<html>
  <head>
    <title>Indoors</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

          <% if user_signed_in? %>
            <div class="logged-in">
              Logged in as <%= current_user.email %>.
              <%= link_to 'EDIT', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
          <% else %>
            <div class="logged-out">
              <%= link_to "SIGN UP", new_user_registration_path, :class => 'sign-in'  %> |
              <%= link_to "LOGIN", new_user_session_path, :class => 'sign-up'  %>
            </div>
          <% end %>

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
